*{
    margin: 0px;
    padding: 0px;
}

.cabeçalho{
    width: 50px;
}

.titulo-cabeçalho{
display: flex;
justify-content: center;
text-align: center;
color: blueviolet;
font-family: 'Dancing Script', cursive;
}
.titulo-corpo{
    display: flex;
    justify-content: center;
    color: rgb(76, 0, 255);
}
.container{
    display: flex;
    justify-content: space-around;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #7fffd4;
    font-family: bree serif, serif;
}
img{
    width: 33%;
}

.paragrafo{
    font-size: 24px;
    text-align: center;
}
